html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
}

main {
  max-width: 325px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
